.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #E1FD2C;
  color: #E1FD2C;
  min-height: 317px;
}

.footer__logo-section {
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: auto;
    padding: 20px;
    min-width: 320px;
    box-sizing: border-box;
  }
}
