.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  border-bottom: 1px solid #E1FD2C;
}

.gallery__title {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  margin: 0;
}

.gallery__bottombar {
  grid-row: 2;
  color: #E1FD2C;
  display: flex;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
  padding: 0 50px;
  justify-content: space-between;
  min-height: 146px;
  align-items: center;
  border-right: 1px solid #E1FD2C;
}

@media screen and (max-width: 1023px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 35px;
    padding-bottom: 0;
  }
  .gallery__bottombar {
    border-right: 0;
    max-width: none;
    padding: 0 14px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    padding: 20px;
    padding-bottom: 0;
  }
  .gallery__bottombar {
    padding: 0;
  }
  .gallery__title {
    font-size: 26px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .gallery__bottombar {
    min-height: 96px;
  }
  .gallery__container-button {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
