@import '../blocks/variables.scss';

.intro {
    color: $color-text;
    display: grid;
    grid-template-areas: "content image"
                         "button image";
    grid-template-columns: 1fr 1fr;
    margin: 150px 0 150px;

    &__subtitle {
        font-size: 19px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
    }

    &__title {
        font-size: 65px;
        line-height: 73px;
        text-align: center;
        margin: 30px auto 51px;
        font-weight: 400;
    }

    &__button {
        display: block;
        font-size: 15px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-text;
        text-decoration: none;
        width: 360px;
        height: 64px;
        border: 1px solid $color-text;
        grid-area: button;
        margin: 60px auto 0;
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image {
        grid-area: image;
        max-width: 720px;
        width: 100%;
        margin: auto
    }
}

@media screen and (max-width: 1279px) {
    .intro {
        margin: 100px 0 100px;
    }
}


@media screen and (max-width: $screen-tablet) {
    .intro {
        grid-template-areas: "content"
                             "image"
                             "button";
        grid-template-columns: 100%;
        max-width: calc(100% - 68px);
        margin: 100px auto;
        grid-row-gap: 100px;
        grid-column-gap: 0;

        &__button {
            margin: 0 auto;
        }

        &__image {
            max-height: 510px;
        }

        &__content {
            max-width: 560px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .intro {
        grid-row-gap: 60px;
        margin: 60px auto;
        grid-template-columns: 100%;
        max-width: calc(100% - 40px);

        &__subtitle {
            font-size: 11px;
            line-height: 14px;
        }

        &__title {
            font-size: 38px;
            line-height: 50px;
            margin: 26px auto 30px;
        }

        &__button {
            width: 280px;
        }

        &__image {
            min-width: 280px;
        }

        &__content {
            max-width: 280px;
        }
    }
}