.logo-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__copyright {
        margin: 0;
    }
}

@media screen and (max-width: $screen-mobile) {
    .logo-section {
        padding: 0;
        align-items: flex-start;

        &__copyright {
            margin: 20px 0 0 12px;
        }
    }
}