@import '../blocks/variables.scss';

.logo {
    position: absolute;
    margin: 0 auto; 
    left: 0; 
    right: 0;

    &_hidden {
        display: none;
      }
}

@media screen and (max-width: $screen-mobile) {
    .logo {
    width: 100px;
    }
}