@import '../blocks/variables.scss';


.press {
    color: $color-text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 300;

    &__source {
        display: none;
    }

    &__source_active {
        display: block;
        margin: 0;
    }

    &__title-container {
        width: 100%;
        height: 100%;
        border-right: 1px solid $color-text;
        padding: 50px;
        box-sizing: border-box;
    }

    &__name {
        font-weight: 400;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
    }

    &__link-container {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        display: none;
        width: 110px;
        height: 52px;
	    border-radius: 100px / 50px;
        border: 1px solid $color-text;
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
        color: $color-text;
        text-decoration: none;
        margin: 0;
        padding: 12px 26px;
        box-sizing: border-box;

        &_active {
            display: block;
        }

        &:hover {
            background-color: $color-text;
            color: $color-background;
        }

    }

    
}

@media screen and (max-width: $screen-tablet) {
    .press {
        grid-template-columns: auto;

        &__title-container {
            display: none;
        }
    }
}


@media screen and (max-width: $screen-mobile) {
    .press {
        font-size: 16px;
        line-height: 27px;
        min-height: 287px;

        &__content  {
            padding: 20px;
        }

        &__link {
            width: 88px;
            height: 42px;
            font-size: 14px;
            padding: 7px 22px;
        }
    }
}
