.slider {
  overflow: hidden;
  border-right: 1px solid #E1FD2C;
}

.slider__slide {
  display: flex;
  transition: all 0.8s ease;
}

@media screen and (max-width: 1023px) {
  .slider {
    border-right: 0;
  }
}
