@import '../blocks/variables.scss';

.slider {
    overflow: hidden;
    border-right: 1px solid $color-text;

    &__slide {
        display: flex;
        transition: all 0.8s ease;
    }
}


@media screen and (max-width: $screen-tablet) {
    .slider {
        border-right: 0;
        max-height: 510px;
    }
}

@media screen and (max-width: $screen-mobile) {
    .slider {
        &__image {
            max-height: 204px;
        }
    }
}