@import '../blocks/variables.scss';

.title {
    margin: 0;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
}

@media screen and (max-width: $screen-mobile) {
    .title {
        font-size: 26px;
        line-height: 26px;
        
        &_gallery-margins {
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}